@font-face {
    font-family: "Red Hat Display";
    src: url("./assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colours */
    --cyan-600: hsl(192 37% 48%);
    --cyan-300: hsl(192 90% 77%);
    --cyan-hover: hsl(192 54% 64%);
    --cyan-transparent: hsl(192 37% 48% / 0.87);

    --purple-600: hsl(268 34% 53%);
    --purple-300: hsl(268 100% 86%);
    --purple-hover: hsl(268 55% 71%);

    --slate-900: hsl(240 21% 20%);
    --slate-600: hsl(240 10% 57%);
    --slate-300: hsl(240 18% 85%);

    --white: hsl(0 0% 98%);

    /* Font sizes */
    --fs-1: clamp(2.5rem, 6.25vw, 4rem); /* 40px 48px 64px */
    --fs-2: clamp(2rem, 4.6875vw, 2.5rem); /* 32px 36px 40px */
    --fs-3: clamp(0.75rem, 1.82291667vw, 1rem); /* 12px 14px 16px*/
    --fs-4: clamp(1rem, 2.08333333vw, 1.125rem); /* 16px 16px 18px */
    --fs-5: 1rem; /* 16px */

    /* Spacing */
    --spacing-1400: 112px;
    --spacing-1000: 80px;
    --spacing-900: 72px;
    --spacing-800: 64px;
    --spacing-700: 56px;
    --spacing-600: 48px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
    --spacing-50: 4px;

    /* Sizing */
    --number-size: 3.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: var(--fs-4);
    font-weight: 500;
    letter-spacing: 0;
    background-color: var(--white);
    color: var(--slate-600);
}

button {
    flex: 0 0 auto;
    font: inherit;
    line-height: 1.5;
    font-size: var(--fs-5);
    color: var(--white);
    padding: var(--spacing-200) var(--spacing-500);
    border: none;
    border-radius: 29px;
    transition: background-color 500ms;
}

button:hover {
    cursor: pointer;
}

/* Button colors */
.blue {
    background-color: var(--cyan-600);
}
.blue:hover {
    background-color: var(--cyan-hover);
}
.blue span {
    color: var(--cyan-300);
}
.purple {
    background-color: var(--purple-600);
}
.purple:hover {
    background-color: var(--purple-hover);
}
.purple span {
    color: var(--purple-300);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--spacing-200);
    row-gap: calc(1px + var(--spacing-200));
}

footer {
    color: var(--white);
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: var(--white);
}

footer p {
    max-width: 31.5rem;
}

.footer-container {
    background:
        linear-gradient(var(--cyan-transparent), var(--cyan-transparent)),
        no-repeat center/cover url("./assets/tablet/image-footer.jpg");
    padding-block: var(--spacing-800);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-300);
    column-gap: var(--spacing-400);
    margin-top: calc(var(--number-size) / -2);
}

.gallery {
    min-width: 16rem;
    margin-block: var(--spacing-800);
    display: grid;
    gap: clamp(16px, 3.125vw, 32px);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.gallery > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    width: clamp(9.21875rem, 19.79166667vw, 16rem);
    height: clamp(9rem, 20.83333333vw, 16rem);
    border-radius: 8px;
}

h1, h2, hgroup, button, .number {
    font-weight: 900;
}

h1, h2 {
    line-height: 1.1;
    color: var(--slate-900);
}

h1 {
    font-size: var(--fs-1);
    text-wrap: balance;
}

h2 {
    font-size: var(--fs-2);
}

header {
    padding-block: var(--spacing-600) var(--spacing-400);
    display: flex;
    flex-direction: column;
}

header h1, header p, header .buttons {
    max-width: 28.01875rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--spacing-300);
}

.header-container::before {
    display: block;
    position: relative;
    content: "";
    height: clamp(160px, 40vw, 303px);
    width: 100vw;
    background: url("./assets/tablet/image-hero.png") center/cover no-repeat;
    margin-block: var(--spacing-800) var(--spacing-600);
}

hgroup > p {
    letter-spacing: var(--spacing-50);
    line-height: 1.1;
    font-size: var(--fs-3);
    text-transform: uppercase;
    color: var(--cyan-600);
}

hgroup > h2 {
    margin-block: var(--spacing-200) var(--spacing-400);
}

img, picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    align-self: center;
}

main {
    padding-block: var(--spacing-400) var(--spacing-800);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, .header-container, .footer-container {
    padding-inline: var(--spacing-400);
}

main hgroup {
    max-width: 27.8125rem;
}

main > p {
  max-width: 31.5rem;
}

.number {
    font-size: var(--fs-5);
    color: var(--slate-600);
    background-color: var(--white);
    width: var(--number-size);
    height: var(--number-size);
    border-radius: 50%;
    border: solid 1px var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: var(--spacing-1000);
    align-self: center;
}

.number::before {
    content: "";
    width: 1px;
    height: var(--spacing-1000);
    background-color: var(--slate-300);
    position: absolute;
    top: calc(-1 * var(--spacing-1000));
}

p {
    text-wrap: pretty;
}

@media (min-width: 37.5rem) {
    .gallery {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
    }

    header {
        padding-block-end: var(--spacing-800);
    }

    .header-container::before {
        margin-block-end: var(--spacing-900);
    }

    main {
        padding-block-start: var(--spacing-700);
    }
}

@media (min-width: 820px) {
    .header-container::before {
        background-size: contain;
    }
}

@media (min-width: 62rem) {
    body > *:not(footer), .footer-container {
        padding-inline: var(--spacing-1000);
    }

    .footer-container {
        padding-block: var(--spacing-1400);
        background:
            linear-gradient(var(--cyan-transparent), var(--cyan-transparent)),
            no-repeat center/cover url("./assets/desktop/image-footer.jpg");
        text-align: start;
        flex-direction: row;
        justify-content: center;
    }

    .footer-container h2 {
        flex-basis: 27.8125rem;
        
    }

    .footer-container p {
        flex-basis: 22.1875rem;
    }

    .footer-container .buttons {
        flex-basis: 16rem;
        justify-content: flex-end;
        align-self: flex-start;
    }

    main {
        padding-block: var(--spacing-700) var(--spacing-900); 
    }

    main > p {
        max-width: 34rem;
      }
}

@media (min-width: 1200px) {
    h1 {
        margin-top: 0;
    }

    header {
        padding-block-start: var(--spacing-1000);
        align-items: center;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 104vw;
        height: 360px;
        background:
            url("./assets/desktop/image-hero-left.png") left top/394px 303px no-repeat,
            url("./assets/desktop/image-hero-right.png") right bottom/394px 303px no-repeat
        ;
        margin-block-start: var(--spacing-800);
        row-gap: var(--spacing-400);
    }

    .header-container::before {
        display:none;
    }
}
